body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    padding-bottom: 90px;
    font-family: 'Open Sans', Arial, sans-serif; /* Use 'Open Sans' as the primary font, fallback to Arial and sans-serif */
    overflow: auto; /* or overflow: visible; */

}

header {
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'Open Sans', Arial, sans-serif; /* Use 'Open Sans' as the primary font, fallback to Arial and sans-serif */
}

header img {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    height: 100%; /* Allow the height to adjust proportionally based on the width */
    opacity: 0.5;
}

section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    color: #333;
    font-family: 'Open Sans', Arial, sans-serif; /* Use 'Open Sans' as the primary font, fallback to Arial and sans-serif */

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    object-fit: cover; /* Crop or resize images to cover the container */
    max-height: 200px; /* Set a fixed height for image containers */
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Styles for the blur overlay */
.blur-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 2;
}

/* Styles for the popup */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white; /* Add a background color to the popup */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3; /* Ensure the popup is above the blur overlay */
    overflow: hidden; /* Hide any overflow beyond the calculated size */
    position: relative; /* Add relative positioning to contain the absolute positioned close button */
}

.popup img {
    width: 100%; /* Ensure the image takes the full width of the popup */
    height: auto; /* Allow the image to shrink to fit the container */
    max-width: none; /* Remove any max-width restrictions */
    max-height: none; /* Remove any max-height restrictions */
}

/* Styles for the close button */
.close {
    position: absolute;
    bottom: 1px; /* Adjust the bottom distance as needed */
    left: 50%; /* Center the close button horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    cursor: pointer; /* Change cursor to pointer on hover */
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Open Sans', Arial, sans-serif; /* Use 'Open Sans' as the primary font, fallback to Arial and sans-serif */
}

#hidden-footer {
    display: none;
}
